{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "node",
    "ServiceBusConnection": "Endpoint=sb://YOUR_NAMESPACE.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=...",
    "SERVICE_BUS_QUEUE": "nexcomm-telemetry",
    "MQTT_BROKER_URL": "mqtts://mqtt.mooreview.io:8883",
    "MQTT_USERNAME": "mooreview",
    "MQTT_PASSWORD": "CHANGE_ME_MQTT_PASSWORD",
    "MQTT_CLIENT_ID": "nexcomm-sb-fn",
    "MQTT_QOS": "1",
    "MQTT_EVENTS_TOPIC_TEMPLATE": "/devices/{serial}/messages/events/"
  }
}
